.footerBack {
  color: aliceblue;
  background: linear-gradient(0deg, #683CC0, #341E60 100%);
  text-decoration: none;

}

.link {
  text-decoration: none;
  color: aliceblue;
}

.footerTitle {
  margin: 0 0 12px 0;
  font-size: 22px;
  font-weight: 600;
}