.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: relative;
  background: white;
  width: 780px;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #f3f4f6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  display: flex;
  justify-content: start;
  margin-bottom: 4px;
  gap: 2px;
  color: #341E60;
}

.gradCam {
  background-color: #F4ECFB;
  border-radius: 10px;
  color: #341E60;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
}

.infoBox {
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  margin-bottom: 6px;
}

.infoBox p {
  font-size: 13px;
  line-height: 1.6;
  color: #5B3C88;
  margin: 2px 0;
  font-weight: 400;
}

.gradcamImage {
  display: block;
  margin: 10px auto;
  width: 50%;
  max-height: 260px;
  object-fit: contain;
  border-radius: 10px;
}

.legend {
  font-size: 15px;
  color: #919294FF;
  margin-top: 4px;
}

.disclaimer {
  font-size: 14px;
  background:  #262A33FF;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-top: 6px;
}