/*navbar css*/

.brandText {
  color: #683CC0;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  font-size: 20px;
}
.btnLogin {
 padding: 6px 22px;
  border-radius: 999px;
  border: 2px solid #683CC0;
  color: #683CC0;
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}
.btnSignup {
  padding: 6px 22px;
  border-radius: 999px;
  background: linear-gradient(0deg, #683CC0, #341E60 100%);
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}
.UploadImage {
  background: linear-gradient(0deg, #683CC0, #341E60 100%);
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  font-size: 15px;
  gap: 2px;
}